
body{
    background: #0c0c0c;
}

canvas{
    display: block;
    margin: auto;
    margin-top: 50px;
    border: 5px solid #09090c;
    border-radius: 5px;
    background: #09090c;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 500px;
    height: 500px;
}
